@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.recommended-shadow {
  box-shadow: 0 0 10px 6px rgb(249, 45, 140, 0.8);
  
}

.shadow {
  box-shadow: 0 0 10px 3px rgb(0,0, 0, 0.1);
  
}

.svg-icon {
  width: 100%;
  height: 100%;
}